.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin: 20px;
    display: flex;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  .loading_txt {
    text-align: center;
  }
  .card  h1 {
    font-size: 22px;
    padding: 10px;
    padding-top: 20px;
  }
  .card .price {
    font-size: 18px;
    margin: 10px;
  }
  .descript_txt{
    font-size: 14px;
    margin-bottom: 10px;
    padding: 10px;
  }
  .container_inner {
    display: flex;
  }
  .lest_side{
    width: calc( 100% - 300px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
  }
  .lest_side .card {
      width: 400px;
  }
  .lest_side .card_img {
      width: 40%;
  }
  .lest_side .card_img img{
      height: 100%;
  }
  .lest_side .card_details {
      width: 60%;
  }
  .right_side{
    width: 310px;
  }
  .right_side .card{
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .right_side h4 {
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
    font-size: 26px;
  }
  .lorem_txt{
    text-align: center;
    margin: 30px 20px;
    font-size: 16px;
  }
  .lest_side .card.is-selected{
    box-shadow: 0 4px 8px 0 rgb(77 80 191 / 96%);
  }
  @media screen and (max-width: 768px) {
    .container_inner{
      flex-direction: column;
    }
    .lest_side{
      width: 100%;
    }
    .right_side{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
  @media screen and (max-width: 425px) {
    .container{
      width: 100%;
    }
  }
  @media screen and (max-width: 560px){
    .container_inner {
        flex-direction: column-reverse !important;
    }
  }